body {
  font-family: 'Arial', sans-serif;
  background-color: #e5f2f3;
  color: #333;
  margin: 0;
  overflow-x: hidden;
}

.hero {
  position: relative;
  background-image: url('https://storageforfinalproject.blob.core.windows.net/catimages/Cat1.png');
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: blur(8px); /* Blurs the background */
  position: relative;
}

.hero-content {
  z-index: 1;
}

.logo {
  width: 50px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
  color: white;
  margin: 0;
}

.description {
  font-size: 1.2em;
  color: white;
  margin-top: 10px;
}

.explore-btn {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1em;
}

.explore-btn:hover {
  background-color: #555;
}

.carousel-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  display: none;
  flex: 0 0 100%;
  text-align: center;
}

.carousel-item img {
  max-width: 60%; /* Reduces the image size */
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.carousel-item p {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 10px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position
